@{
    ViewData["Title"] = "Home Page";
}
@model AuthViewModel
<div class="text-center">
    <form action="login" method="post">
        <div class="form">
            <div class="title">Login</div>
            <input id="email" name="email" class="input" type="email" placeholder="email" required/>
            <input id="password" name="password" class="input" type="password" placeholder="password"  required/>
            <button type="submit" class="submit">Login</button>
            <div>@Model.ResponseMessage.Message</div>
        </div>
    </form>
    <div>
        <a href="/register">
        <input type="button" value="or register here"/>
    </a>
    </div>
</div>
